---
import './Controls.scss';
---

<div id="ab-ctl" class="controls">
  <button type="button" id="ab-btn-sound" class="controls__btn" data-cur="TOGGLE">
    SND ○ OFF
  </button>
  <button type="button" id="ab-btn-motion" class="controls__btn" data-cur="TOGGLE">
    MOTION FULL
  </button>
</div>
