---
import { CURSOR, NAV, NAV_CHECKPOINTS } from '../../../data/content';
import './NavRail.scss';
---

<nav id="ab-rail" class="nav-rail" aria-label={NAV.ariaLabel}>
  {
    NAV_CHECKPOINTS.map((n, i) => (
      <button type="button" class="nav-rail__item" data-nav={i} data-cur={CURSOR.actions.jump}>
        <span data-navlbl class="nav-rail__label">
          {n.label}
        </span>
        <span data-navdot class="nav-rail__dot" />
      </button>
    ))
  }
</nav>
